<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.omisoft.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".sample.SampleActivity"
            android:exported="true">

        </activity>

        <activity android:name=".SecondActivity" />

        <activity android:name=".service.ForegroundServiceActivity">

        </activity>

        <service
            android:name=".service.FirstForegroundService"
            android:label="FirstForegroundService" />

        <receiver android:name=".service.FirstBroadcastReceiver" />

        <receiver
            android:name=".service.ForegroundServiceActivity$InnerFirstBroadcastReceiver"
            tools:ignore="Instantiatable" />

    </application>

</manifest>